#footer {
    width: 100%;
    background-color: #fefaf3 ;
    padding: 50px 0px;
  .container {
    display: flow-root;
    .row {
      .col-lg-3 {
        .footer_items {
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                text-decoration: none;
                color: black;
            }
          .footer_list {
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
              li {
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    color: #8b8b8b;
                    &:hover{
                        color: red;
                    }
                }
              }
          }
        }
      }
 
    }
    .footer_bottom{
        padding: 25px 0px;
        border-top: 1px solid #8b8b8b;
        .col-lg-4{
            .left{
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    color: #8b8b8b;
                    a{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        text-decoration: none;
                        color: #8b8b8b;
                    }
                }
            }
            .social{
                display: flex;
                gap: 5px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    color: #8b8b8b;
                }
            }
          }
    }
  }
}
