
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 3;

   
    .navbar{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 50px;
        .bx-menu{
            display: none;
        }
        
        .logo{
            img{
                width: 240px;
            }
        }
        .nav-links{
            height: 100%;
            line-height: 70px;
            .links{
            display: flex;
            margin-top: 10px;
            li{
                list-style: none;
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 14px;
                &:hover .htmlcss-arrow,
                &:hover .js-arrow{
                    transform: rotate(180deg);
                }
                &:hover .htmlcss-sub-menu,
                &:hover .js-sub-menu{
                    display: block;
                }
             a{
                color: rgb(80, 80, 80);
                text-decoration: none;
                white-space: nowrap;
                font-size: 12px;
                font-weight: bold;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: #333;
                    transform: scaleX(0);
                    transition: transform 0.5s ease-in-out;
                    transform-origin: left;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
             }
             .arrow{
                height: 100%;
                width: 23px;
                text-align: center;
                line-height: 70px;
                color: rgb(100, 100, 100);
                transition: all 0.3s ease;
             } 
            }
            .sub-menu{
                position: absolute;
                top: 70px;
                left: 0;
                background-color: #fff;
                line-height: 40px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
                display: none;
                li{
                    padding: 0 23px;
                    a{
                        color: rgb(80, 80, 80);
                        font-size: 12px;
                        font-weight: bold;
                    }
                    
                    
                }
            }
            }
        }
        .search-box{
            position: relative;
            height: 40px;
            width: 40px;
            .bx-search{
                position: absolute;
                height: 100%;
                width: 100%;
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                top: -5px;
                &:hover{
                    color: red;
                }
            }
            .input-box{
                height: 60px;
                width: 300px;
                position: absolute;
                top: 45px;
                right: calc(100% - 40px);
                transition: all 0.4s ease;
                opacity: 0;
                pointer-events: none;
                &::before{
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    background: rgb(236, 236, 236);
                    right: 14px;
                    top: 6px;
                    transform: rotate(45deg);

                }
                input{
                    height: 35px;
                    width: 280px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
                    position: absolute;
                    z-index: 98;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    outline: none;
                    padding: 0 15px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
        
    }
    .navbar.showInput{
        .search-box{
            .input-box{
                opacity: 1;
                pointer-events: auto;
                top: 35px;
            }
        }
    }
}
@media(max-width:954px){
    nav{
        .navbar{
            max-width: 100%;
            padding: 0 25px;
            .logo{
                img{
                    width: 150px;
                }
            }
            .nav-links{
                li{
                    padding:0 14px;
                    a{
                        font-size: 15px;

                    }
                }
                
            }
        }
    }
}
@media(max-width:800px){
    nav{
        .navbar{
            .bx-menu{
                display: block;
            }
            // .logo{

            // }
            .nav-links{display: none;}
        }
    }}